# Extensions
*.diff
*.log
*.swo
*.swp
*.zip

# vim
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.metadata
.project
.settings
.classpath
.project
build

# Build and VC files to ignore
bin
dist
target
work
.hg
.svn
.CVS
RPMS
.python-version
