[user]
    name = CJ Barker
    email = cjbarker@gmail.com

[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore

[web]
    browser = google-chrome

[url "https://github.com/"]
    insteadOf = gh:

[url "https://gist.github.com/"]
    insteadOf = gist:

[url "https://gitlab.com/"]
    insteadOf = gl:

[url "https://bitbucket.org/"]
    insteadOf = bb:

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = red

[alias]
    # show all branches
    br = branch -av

    # delete branch
    brdel = branch -d

    # unstage changes from index
    unstage = reset HEAD --

    # list all tags
    tags = tag -l

    # Start a new local repository and perform initial commit
    this = !git init && git add . && git commmit -m \"Initial commit.\"
