# Extensions
*.diff
*.log
*.swo
*.swp
*.zip

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.metadata
.project
.settings

# Build and VC files to ignore
bin
dist
target
.hg
.svn
.CVS
